<%= link_to pins_path do %>
	<div class="mb-40">
		<span class="glyphicon glyphicon-chevron-left"></span>
		Back
	</div>
<% end %>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default pull-left">
			<%= image_tag @pin.image.url, class: "show-image" %>
			<div class="panel-body">
				<p>
				  <h4><strong><%= @pin.description %></strong><h4>
			  	<h5><%= @pin.user.name if @pin.user %></h5>
				</p>
				<% if @pin.user == current_user %>	
					<div class= "actions">
						<%= link_to edit_pin_path(@pin) do %>
							<span class="glyphicon glyphicon-edit"></span>
							Edit
					</div>
					<% end %>
				<% end %>
				<div class="clearfix"></div>
	</div>
</div>
