<%= link_to 'Back', pins_path, class: "btn btn-md btn-danger" %>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default pull-left">
			<%= image_tag @pin.image.url, class: "show-image" %>
			<div class="panel-body">
				<p>
				  <h4><strong><%= @pin.description %></strong><h4>
			  	<h5><%= @pin.user.email if @pin.user %></h5>
				</p>
				<% if @pin.user == current_user %>
					<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-xs btn-info" %>
				<% end %>
				<div class="clearfix"></div>
	</div>
</div>
