.container
	.row.mb-40
		.col-sm-8
			%h1 About us
			%p We are working to provide you state of the art design for your website, web application and apps!
	
	.row.mb-20
		.col-sm-4 
			%h2 Meet the team

	.row.mb-40
		.col-sm-8
			.col-sm-4.mb-40
				= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
				.info
					%h4 João Pagnoncelli
					%p Lead Designer
			.col-sm-4.mb-40
				= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
				.info
					%h4 João Pagnoncelli
					%p Lead Designer
			.col-sm-4.mb-40
				= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
				.info
					%h4 João Pagnoncelli
					%p Lead Designer
			.col-sm-4.mb-40
				= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
				.info
					%h4 João Pagnoncelli
					%p Lead Designer
			.col-sm-4.mb-40
				= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
				.info
					%h4 João Pagnoncelli
					%p Lead Designer
			.col-sm-4.mb-40
				= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
				.info
					%h4 João Pagnoncelli
					%p Lead Designer
		.col-sm-4
			.panel.panel-default
				.panel-heading
					%h2.center Want to be in our team?
				.panel-body
					.warning.center
						%h3 We are hiring!
						=image_tag "anuncio.png", class: "img-responsive img-center", width: 180
